/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */


body {
  text-align: center;
}


.container {
  width: 100%;
}

.row{
  width: 100%;
}

.mondrian-text {
font-size: 20px;
}

.mymondrian {
flex-direction: column;
justify-content: space-between;
padding:0 10px;
}
img{
width: 100%;
}
}
